/* styles.css */

/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #666666;
    margin: 0;
    padding: 0;
    background-image: url("image_light.png");
    background-repeat: repeat-x;
}

/* Style pour le header */
header {
    background-color: #86868660;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Style pour le section */
section {
    background-color: #69696970;
    color: white;
    padding: 20px;
    text-align: center;
    width: 80%; /* ou toute autre largeur souhaitée */
    margin: 0 auto; /* centre la section horizontalement */
    border-radius: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a30000;
    color: white;
    text-align: center;
}


/* Style pour les titres */
h1 {
    font-size: 2em;
    margin: 0;
}

/* Style pour les paragraphes */
p {
    font-size: 1em;
    color: #333;
    padding: 20px;
}



/* Style pour les boutons */
a {
    background-color: #a30000;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

a:hover {
    background-color: #a300006c;
}


/* Style pour les boutons */
button {
    background-color: #a30000;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #a300006c;
}
